## Split 함수
String Type의 값을 나눠서 List 형태로 변환

In [1]:
items = 'zero one tow three'.split() # 빈칸을 기준으로 문자열 나누기
items

['zero', 'one', 'tow', 'three']

In [2]:
example = 'python,jquery,javascript'.split(",") # ","를 기준으로 문자열 나누기
example

['python', 'jquery', 'javascript']

In [4]:
a,b,c = example # 각 값을 a,b,c변수로 unpacking
a,b,c

('python', 'jquery', 'javascript')

### Join 함수
String List를 합쳐 하나의 String으로 반환할 때 사용

In [5]:
colors = ['red','blue','green','yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

In [6]:
result = ' '.join(colors) # 빈칸으로 join
result

'red blue green yellow'

In [7]:
result = ', '.join(colors) # "," 으로 join
result

'red, blue, green, yellow'

### List comprehensions
- 기존 List를 사용하여 간단히 다른 List를 만드는 기법
- 포괄적인 List, 포함되는 리스트라는 의미
- 파이썬에서 가장 많이 사용되는 기법 중 하나
- 일반적으로 for + append보다 속도가 빠름

In [8]:
result = []
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
result = [i for i in range(10) if i%2 ==0] # 짝수만 filter
result

[0, 2, 4, 6, 8]

In [14]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2] # Nested For loop
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [15]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [16]:
result = [i+j for i in case_1 for j in case_2 if not i==j] # i j 다를 때만
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [17]:
words = 'The quick brown fox jumps over the lazy dog'.split()
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [19]:
stuff = [[w.upper(),w.lower(), len(w)] for w in words] # 2차원 리스트 two dimesional list로 변환
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### Enumerate
List의 element를 추출할 때 번호를 붙여서 추출

In [21]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [22]:
mylist = ["a", "b", "c", "d"]
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [24]:
{i :j for i,j in enumerate(('aa bb cc dd ee').split())}

{0: 'aa', 1: 'bb', 2: 'cc', 3: 'dd', 4: 'ee'}

### Zip
두개의 list의 값을 병렬적으로 추출함

In [25]:
alist = [1,2,3,4]
blist = [5,6,7,8]
for a,b in zip(alist,blist):
    print(a,b)

1 5
2 6
3 7
4 8

In [26]:
a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
a,b,c

((1, 10, 100), (2, 20, 200), (3, 30, 300))

In [28]:
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))] 
# list comprehensions와 같이 사용, 각 Tuple 같은 index를 묶어 합을 list로 변환

[111, 222, 333]

### Enumerate & Zip
함께 사용이 가능하다

In [29]:
for i ,(a,b) in enumerate(zip(alist,blist)):
    print(i,a,b)

0 1 5
1 2 6
2 3 7
3 4 8

### Lambda
- 함수 이름 없이, 함수처럼 쓸 수 있는 익명 함수
- 수학의 람다 대수에서 유래함
- Python 3부터는 권장하지않음 (List comprehensions가 있어서)

In [30]:
# General function
def f(x, y):
    return x+y
print(f(1,4))

5

In [31]:
# Lambda function
f = lambda x, y : x + y
print(f(1, 4))

5

In [32]:
print((lambda x : x + 1)(5))

6

## Map & Reduce
- Sequence 자료형 각 element에 동일한 function을 적용함

### Map

In [33]:
# 구조 : map(function_name, List_data) 
ex = [1, 2, 3, 4, 5]
f = lambda x : x**2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [34]:
f = lambda x, y : x + y
print(list(map(f, ex, ex)))

[2, 4, 6, 8, 10]

In [40]:
list(map(lambda x : x ** 2 if x % 2 == 0 else x,ex)) 
# lambda 는 filter 에 else 값을 반드시 명시

[1, 4, 3, 16, 5]

### Reduce Function
- map function과 달리 list에 똑같은 함수를 적용해서 통함

In [42]:
from functools import reduce
print(reduce(lambda x, y : x+y, [1, 2, 3, 4, 5])) # list의 값을 전부 x+y

15

In [45]:
def factorial(n):
    return reduce(lambda x, y : x*y, range(1,n+1))
print(factorial(3))
print(factorial(4))

6
24

### Summary
- Lambda, map, reduce는 간단한 코드로 다양한 기능 제공
- 그러나 코드의 직관성이 떨어져 lambda나 reduce는 python3에서 사용 권장 x
- legacy library나 다양한 ML 코드에서는 여전히 사용중

### Asterisk
- 흔히 알고 있는 '*'를 의미함
- 단순 곱셉, 제곱연산, 가변 인자 활용 등 다양하게 사용됨

In [47]:
# *args
def asterisk_test(a,*args): # 몇개의 입력이 들어올지 모르는 경우, 한번에 여러개 인자 넘겨줌
    print(a,args)
    print(type(args))
asterisk_test(1,2,3,4,5,6) # 1이 a로 나머지는 *args로

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [48]:
# **kargs
def asterisk_test(a, **kargs): # 키워드 인자를  한번에 넘겨줄 때 kargs 사용
    print(a, kargs)
    print(type(kargs))
asterisk_test(1, b=2, c=3, d=4, e=5, f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

### Asterisk - unpacking a  container
- tuple, dict 등 자료형에 들어가 있는 값을 unpacking
- 함수의 입력값, zip등에 유용하게 사용

In [54]:
def asterisk_test(a,*args): 
    print(a,args)
    print(type(args))    
asterisk_test(1,(2, 3, 4, 5, 6)) # 튜플이 하나의 인자로 인식된다.

1 ((2, 3, 4, 5, 6),)
<class 'tuple'>

In [56]:
def asterisk_test(a,*args): 
    print(a, *args)
    print(type(args))    
asterisk_test(1,(2, 3, 4, 5, 6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [57]:
# 같은 결과가 나온다.
a, b, c = ([1, 2], [3, 4], [5, 6])
print(a, b, c)

data = ([1, 2], [3, 4], [5, 6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [58]:
# dict 타입은 ** 2개사용
def asterisk_test(a, b, c, d):
    print(a, b, c, d)
data = {"b" : 1, "c" : 2, "d" : 3}
asterisk_test(10, **data)

10 1 2 3

In [63]:
def asterisk_test(a, b, c, d, e = 0): # dict로 각 값 할당
    print(a, b, c, d, e)
data = {"b" : 1, "c" : 2, "d" : 3, "e":56} 
asterisk_test(10, **data)

10 1 2 3 56

## Collections
- List, Tuple, Dict 에 대한 Python Built - in 확장 자료 구조 (모듈)
- 편의성, 실행 효율 제공

In [65]:
# 아래 모듈 등이 존재한다.
from collections import deque
from collections import Counter
from collections import OrderedDict
from collections import defaultdict
from collections import namedtuple

### deque
- Stack, Queue를 지원하는 모듈
- List에 비해 효율적인 자료저장 방식 지원

In [66]:
q = deque()
for i in range(5):
    q.append(i)
    q.appendleft(i*2)
q

deque([8, 6, 4, 2, 0, 0, 1, 2, 3, 4])

### OrderedDict
- Dict와 달리, 데이터를 입력한 순서대로 dict를 반환
- 원래 dict는 입력 순서대로 저장하지 않음

In [80]:
d = {}
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['a'] = 500
for k, v in d.items():
    print(k ,v)

x 100
y 200
z 300
a 500

In [71]:
d = OrderedDict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 500
for k, v in d.items():
    print(k ,v)

x 100
y 200
z 300
l 500

 #### Dicttyple의 값을, value 또는 key 값으로 정렬할 때 사용 가능

In [77]:
for k, v in OrderedDict(sorted(d.items(), key = lambda t:t[0])).items():
    print(k, v)

a 500
x 100
y 200
z 300

In [81]:
for k, v in OrderedDict(sorted(d.items(), key = lambda t:t[1])).items():
    print(k, v)

x 100
y 200
z 300
a 500

### defaultdict
- Dict type의 기본 값을 지정 신규값 생성시 사용

In [84]:
d = defaultdict(object) # Dafault dictionary를 생성
print(d["frist"])
d = defaultdict(lambda : 0) # Default 값을 0으로 생성
print(d['second'])

<object object at 0x00000252218A0500>
0

In [85]:
# 글자 수를 샐 때 유용하게 사용된다.
text = """Write a Python program to get a single string from two given strings
separated by a space and swap the first two characters of each string
"""
text = text.split()
print(text)

['Write', 'a', 'Python', 'program', 'to', 'get', 'a', 'single', 'string', 'from', 'two', 'given', 'strings', 'separated', 'by', 'a', 'space', 'and', 'swap', 'the', 'first', 'two', 'characters', 'of', 'each', 'string']

In [88]:
word_count = {}
for word in text:
    if word in word_count.keys():
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

{'Write': 1, 'a': 3, 'Python': 1, 'program': 1, 'to': 1, 'get': 1, 'single': 1, 'string': 2, 'from': 1, 'two': 2, 'given': 1, 'strings': 1, 'separated': 1, 'by': 1, 'space': 1, 'and': 1, 'swap': 1, 'the': 1, 'first': 1, 'characters': 1, 'of': 1, 'each': 1}

In [92]:
# default dict를 사용할 때
word_count = defaultdict(object)
word_count = defaultdict(lambda : 1)
for word in text:
    word_count[word] += 1
print(word_count)

defaultdict(<function <lambda> at 0x0000025221C03C10>, {'Write': 2, 'a': 4, 'Python': 2, 'program': 2, 'to': 2, 'get': 2, 'single': 2, 'string': 3, 'from': 2, 'two': 3, 'given': 2, 'strings': 2, 'separated': 2, 'by': 2, 'space': 2, 'and': 2, 'swap': 2, 'the': 2, 'first': 2, 'characters': 2, 'of': 2, 'each': 2})

In [94]:
# defaultdict에 OrderedDict를 사용해 순서대로 정렬
for i, v in OrderedDict(sorted(word_count.items(), key = lambda t : t[1],reverse=True)).items():
    print(i, v)

a 4
string 3
two 3
Write 2
Python 2
program 2
to 2
get 2
single 2
from 2
given 2
strings 2
separated 2
by 2
space 2
and 2
swap 2
the 2
first 2
characters 2
of 2
each 2

### Counter
- Sequence type의 data element들의 갯수를 dict 형태로 반환

In [99]:
c = Counter('gallahad')
print(c)

Counter({'a': 3, 'l': 2, 'g': 1, 'h': 1, 'd': 1})

## 파이썬으로 선형대수 표현

### Vector representation of python
- Vector를 파이썬으로 표시하는 다양한 방법이 존재

In [100]:
vector_a = [1, 2, 10] # List로 표현
vector_b = (1, 2, 10) # Tuple로 표현
vector_c = {'x' : 1, 'y' : 1, 'z' : 10} # dict로 표현

- 최선의 방법은 없음
- 값의 변경 유무, 속성값 유무에 따라 선택할 수 있다.
- 기본적으로 list vector연산

### Vector의 계산

In [104]:
# 좋지 않은 표현의 예시
u = [2, 2]
v = [2, 3]
z = [3, 5]
result = []
for i in range(len(u)):
    result.append(u[i] + v[i] + z[i ])
print(result)

[7, 10]

In [105]:
# Zip을 사용
result = [sum(t ) for t in zip(u, v, z)]
print(result)

[7, 10]

### Scalar - Vector product

In [106]:
u = [1, 2, 3]
v = [4, 4, 4]
alpha = 2
# 2([1,2,3] + [4,4,4]) = 2[5,6,7] = [10,12,14]

result = [alpha*sum(t) for t in zip(u, v)]
print(result)

[10, 12, 14]

### Matrix representation of python
- Matrix 역시 Python으로 표시하는 다양한 방법 존재
- 특히 dict로 표현할 때 무궁무진한 방법 존재
- 수업에선 기본적으로 two - dimensional list 형태로 표현

### Matrix의 계산 : Matrix addition

In [107]:
matrix_a = [[3, 6], [4, 5]]
matrix_b = [[5, 8], [6, 7]]
result = [[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]
# 튜플로 묶은후 asterisk로 풀어서 sum()함수 사용
print(result)

[[8, 14], [10, 12]]

### Matrix의 계산 : Matrix Transpose

In [109]:
matrix_a = [[1, 2, 3], [4, 5, 6]]
result = [[element for element in t] for t in zip(*matrix_a)] 
# matrix를 askrisk로 풀어서 모든 row행들이 column순서대로 row를 다시 만듬
print(result)

[[1, 4], [2, 5], [3, 6]]

### Matrix의 계산 : Matrix Product
행렬의 곱은 약간의 trick을 사용, 첫번째 matrix의 row 두번째 matrix의 column값 가져옴

In [112]:
matrix_a = [[1, 1, 2], [2, 1, 1]]
matrix_b = [[1, 1], [2, 1], [1, 3]]
result = [[sum(a * b for a, b in zip(row_a, column_b)) for column_b in zip(*matrix_b)] for row_a in matrix_a]
# 행렬 a의 row -> 행렬 b 의 column 을 헨프리션으로 가져온 후 zip을 통해 각각 풀어서 요소들을 곱한 튜플을 합친다.
print(result)

[[5, 8], [5, 6]]